<h1>Detalhes do {{product.title}}</h1>
<p>Categoria: {{product.category}}</p>
<p>Cor: {{product.color}}</p>
<p>Descrição: {{product.description}}</p>
<p class="pricing">R$ {{product.price}}</p>
<p><a href="/">Voltar para a home</a></p>